.content {
    padding-top: 1px;
    margin-left: 310px;
    min-height: 305px;

    p {
        margin-bottom: 1em;
    }
}

h1,
h2,
h3,
h4,
h5 {
    color: $text-black;
    @include font-condensed;
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1em;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
}

h2 {
    font-size: 31px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

.leaflet-container {
    margin-top: 2em;
}

.form-data {
    margin-bottom: 1em;

    input {
        width: 100%;
        height: 42px;
        text-indent: 10px;
    }
}

form {
    button {
        width: 100%;
        height: 42px;
        color: $text-white;
        background: $background-black;
        border: none;
        cursor: pointer;

        &:hover,
        &:focus {
            color: $background-black;
            background: $yellow;
        }
    }
}

.alert {
    margin-bottom: 1em;
}